<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div class="super-main">
<div class="top-bar">
  <div class="search-bar">
    <input type="text" placeholder="Search..." />
    <button class="search-btn">
      <span class="bi bi-search"></span>
    </button>
  </div>
</div>
<div class="container">
  <div class="menu" >
    <ul>
      <li (click)="activeTab = 'books'" [class.active]="activeTab === 'books'">
        <span class="bi bi-book"></span>
        Gerenciar livros
      </li>
      <li (click)="activeTab = 'users'" [class.active]="activeTab === 'users'">
        <span class="bi bi-people"></span>
        Gerenciar utilizadores
      </li>
      <li (click)="activeTab = 'reserves'" [class.active]="activeTab === 'reserves'">
        <span class="bi bi-calendar"></span>
        Gerenciar reservas
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="tab-content">
      <div *ngIf="activeTab === 'books'">
        <div class="container">
          <div class="left-section">
            <div class="table-container">
              <table style="table-layout: fixed;">
                <thead>
                <tr>
                  <th style="width: 100px;">Actions</th>
                  <th style="width: 150px;">ID</th>
                  <th>Título</th>
                  <th>Autor</th>
                  <th>Gênero</th>
                  <th>Estado</th>
                </tr>
                </thead>
                <tbody>

                <!-- Search row -->
                <tr>
                  <td><div class="btn-group-column"><button class="btn btn-add" (click)="showAddRowForm()"><i class="bi bi-plus"></i></button></div></td>
                  <td><input type="text" (input)="applyFilter()" [(ngModel)]="searchId" /></td>
                  <td><input type="text" (input)="applyFilter()" [(ngModel)]="searchTitle" /></td>
                  <td><input type="text" (input)="applyFilter()" [(ngModel)]="searchAuthor" /></td>
                  <td><input type="text" (input)="applyFilter()" [(ngModel)]="searchGenre" /></td>
                  <td>
                    <div class="select-container">
                      <select class="select"  (change)="applyFilter()" [(ngModel)]="searchStatus">
                        <option selected value="">Todos</option>
                        <option value="reservado">Reservado</option>
                        <option value="disponivel">Disponível</option>
                      </select>
                    </div>
                  </td>
                </tr>

                <!--Add Row-->
                <tr *ngIf="showAddRow">
                  <td>
                    <div class="btn-group">
                      <div class="btn-group-column">
                        <button class="btn btn-accept" (click)="addRow()"><i class="bi bi-check-circle"></i></button>
                      </div>
                      <div class="btn-group-column">
                        <button class="btn btn-cancel" (click)="cancelAddRow()"><i class="bi bi-x-circle"></i></button>
                      </div>
                    </div>
                  </td>
                  <td><input type="text" [(ngModel)]="RowData.id" placeholder="Auto ID" disabled/></td>
                  <td><input type="text" [(ngModel)]="RowData.title" placeholder="Novo Título" /></td>
                  <td><input type="text" [(ngModel)]="RowData.author" placeholder="Novo Autor" /></td>
                  <td><input type="text" [(ngModel)]="RowData.genre" placeholder="Novo Gênero" /></td>
                  <td>
                    <div class="select-container">
                      <select class="select" [(ngModel)]="RowData.status">
                        <option value="reservado" selected>Reservado</option>
                        <option value="disponivel">Disponível</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr *ngFor="let row of rows">
                  <td>
                    <div class="btn-group">
                      <div class="btn-group-column">
                        <button class="btn" [ngClass]="{'btn-edit': !row.editMode, 'btn-accept': row.editMode}" (click)="toggleEditMode(row)">
                          <i [ngClass]="{'bi-pencil': !row.editMode, 'bi bi-check-circle': row.editMode}"></i>
                        </button>
                      </div>
                      <div class="btn-group-column">
                        <button class="btn" [ngClass]="{'btn-danger': !row.editMode, 'btn-cancel': row.editMode}" (click)="toggleDeleteMode(row)">
                          <i [ngClass]="{'bi bi-trash': !row.editMode, 'bi bi-x-circle': row.editMode}"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{row.id}}
                  </td>
                  <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.title}}
                    </span>
                    <input *ngIf="row.editMode" type="text" [(ngModel)]="CopyRowData.title" placeholder="{{row.title}}" value="{{row.title}}" [id]="'title_' + row.id">
                  </td>
                  <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.author}}
                    </span>
                    <input *ngIf="row.editMode" type="text" [(ngModel)]="CopyRowData.author" placeholder="{{row.author}}" value="{{row.author}}" [id]="'author_' + row.id">
                  </td>
                  <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.genre}}
                    </span>
                    <input *ngIf="row.editMode" type="text" [(ngModel)]="CopyRowData.genre" placeholder="{{row.genre}}" value="{{row.genre}}" [id]="'genre_' + row.id">
                  </td>
                  <td>
                    <ng-container *ngIf="!row.editMode; else editModeTemplate">
                      {{row.status}}
                    </ng-container>
                    <ng-template #editModeTemplate>
                      <div class="select-container">
                        <select class="select" [(ngModel)]="CopyRowData.status">
                          <option value="reservado" selected>Reservado</option>
                          <option value="disponivel">Disponível</option>
                        </select>
                      </div>
                    </ng-template>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeTab === 'users'">
        <div class="container">
          <div class="left-section">
            <div class="table-container">
              <table style="table-layout: fixed;">
                <thead>
                <tr>
                  <th style="width: 100px;">Actions</th>
                  <th style="width: 150px;">ID</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
                </thead>
                <tbody>

                <!-- Search row -->
                <tr>
                  <td><div class="btn-group-column"><button class="btn btn-add" (click)="showAddRowForm()"><i class="bi bi-plus"></i></button></div></td>
                  <td><input type="text" [(ngModel)]="UsearchId" (input)="UapplyFilter()"/></td>
                  <td><input type="text" [(ngModel)]="UsearchName" (input)="UapplyFilter()"/></td>
                  <td><input type="text" [(ngModel)]="UsearchEmail" (input)="UapplyFilter()"/></td>
                </tr>
                <tr *ngIf="showAddRow">
                  <td>
                    <div class="btn-group">
                      <div class="btn-group-column">
                        <button class="btn btn-accept" (click)="UaddRow()"><i class="bi bi-check-circle"></i></button>
                      </div>
                      <div class="btn-group-column">
                        <button class="btn btn-cancel" (click)="UcancelAddRow()"><i class="bi bi-x-circle"></i></button>
                      </div>
                    </div>
                  </td>
                  <td><input type="text" [(ngModel)]="URowData.id" placeholder="Auto ID" disabled/></td>
                  <td><input type="text" [(ngModel)]="URowData.name" placeholder="Novo Nome" /></td>
                  <td><input type="text" [(ngModel)]="URowData.email" placeholder="Novo Email" /></td>
                </tr>

                <ng-container *ngIf="activeTab === 'users'">
                  <tr *ngFor="let row of urows">
                    <td>
                      <div class="btn-group">
                        <div class="btn-group-column">
                          <button class="btn" [ngClass]="{'btn-edit': !row.editMode, 'btn-accept': row.editMode}" (click)="UtoggleEditMode(row)">
                            <i [ngClass]="{'bi-pencil': !row.editMode, 'bi bi-check-circle': row.editMode}"></i>
                          </button>
                        </div>
                        <div class="btn-group-column">
                          <button class="btn" [ngClass]="{'btn-danger': !row.editMode, 'btn-cancel': row.editMode}" (click)="UtoggleDeleteMode(row)">
                            <i [ngClass]="{'bi bi-trash': !row.editMode, 'bi bi-x-circle': row.editMode}"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{row.id}}
                    </td>
                    <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.name}}
                    </span>
                      <input *ngIf="row.editMode" type="text" [(ngModel)]="UCopyRowData.name" placeholder="{{row.name}}" value="{{row.name}}">
                    </td>
                    <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.email}}
                    </span>
                      <input *ngIf="row.editMode" type="text" [(ngModel)]="UCopyRowData.email" placeholder="{{row.email}}" value="{{row.email}}">
                    </td>
                  </tr>
                </ng-container>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeTab === 'reserves'">
        <div class="container">
          <div class="left-section">
            <div class="table-container">
            <table style="table-layout: fixed;">
              <thead>
              <tr>
                <th style="width: 100px;">Actions</th>
                <th style="width: 150px;">ID da reserva</th>
                <th style="width: 150px;">ID do utilizador</th>
                <th>Título do livro</th>
                <th>Data da reserva</th>
              </tr>
              </thead>
              <tbody>

              <!-- Search row -->
              <tr>
                <td><div class="btn-group-column"><button class="btn btn-add" (click)="showAddRowForm()"><i class="bi bi-plus"></i></button></div></td>
                <td><input type="text" [(ngModel)]="RsearchOId" (input)="RapplyFilter()" /></td>
                <td><input type="text" [(ngModel)]="RsearchId" (input)="RapplyFilter()" /></td>
                <td><input type="text" [(ngModel)]="RsearchLivro" (input)="RapplyFilter()" /></td>
                <td><input type="date" [(ngModel)]="RsearchData" (input)="RapplyFilter()" /></td>
              </tr>

              <tr *ngIf="showAddRow">
                <td>
                  <div class="btn-group">
                    <div class="btn-group-column">
                      <button class="btn btn-accept" (click)="RaddRow()"><i class="bi bi-check-circle"></i></button>
                    </div>
                    <div class="btn-group-column">
                      <button class="btn btn-cancel" (click)="RcancelAddRow()"><i class="bi bi-x-circle"></i></button>
                    </div>
                  </div>
                </td>
                <td><input type="text"  placeholder="Auto ID" disabled/></td>
                <td><input type="text" [(ngModel)]="RRowData.oid" placeholder="ID utilizador" /></td>
                <td><input type="text" [(ngModel)]="RRowData.livro" placeholder="Nome livro" /></td>
                <td><input type="date" [(ngModel)]="RRowData.Data" placeholder="Data" /></td>
              </tr>
              <ng-container *ngIf="activeTab === 'reserves'">
              <tr *ngFor="let row of rrows">
                <td>
                  <div class="btn-group">
                    <div class="btn-group-column">
                      <button class="btn" [ngClass]="{'btn-edit': !row.editMode, 'btn-accept': row.editMode}" (click)="RtoggleEditMode(row)">
                        <i [ngClass]="{'bi-pencil': !row.editMode, 'bi bi-check-circle': row.editMode}"></i>
                      </button>
                    </div>
                    <div class="btn-group-column">
                      <button class="btn" [ngClass]="{'btn-danger': !row.editMode, 'btn-cancel': row.editMode}" (click)="RtoggleDeleteMode(row)">
                        <i [ngClass]="{'bi bi-trash': !row.editMode, 'bi bi-x-circle': row.editMode}"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  {{row.uid}}
                </td>
                <td>
                  {{row.oid}}
                </td>
                <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.livro}}
                    </span>
                  <input *ngIf="row.editMode" type="text" [(ngModel)]="RCopyRowData.livro" placeholder="{{row.livro}}" value="{{row.livro}}">
                </td>
                <td>
                    <span [ngClass]="{'hidden': row.editMode}">
                      {{row.Data}}
                    </span>
                  <input *ngIf="row.editMode" type="date" [(ngModel)]="RCopyRowData.Data" placeholder="{{row.Data}}" value="{{row.Data}}">
                </td>
              </tr>
              </ng-container>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
